@import 'https://fonts.googleapis.com/css?family=Poiret+One';
#title {
	font-size: 200%;
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	text-align: center;
	color: rgb(10, 10, 10);
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #FF6F61, 0 0 30px #FF6F61, 0 0 40px #FF6F61, 0 0 55px #FF6F61, 0 0 75px #FF6F61;
}

#title:hover {
	color: #FF6F61;
}

#chat {
	overflow-y: a uto;
	color: green;
	font-size: large;
	font-weight: bold;
	text-align: left;
	background: rgba(0, 10, 1, 0.9);
	width: 80%;
	min-height: 300px;
	padding: 20px;
}

#text {
	overflow-y: auto;
	width: 72.5%;
	color: green;
	font-size: large;
	font-weight: bold;
	text-align: left;
	background: rgba(0, 10, 1, 0.9);
}

#button {
	width: 10%;
	color: green;
	font-size: large;
	font-weight: bold;
	text-align: left;
	background: rgba(0, 10, 1, 0.9);
}

#roomid {
	width: 22%;
}